<div class="page">
  <div class="grid">
    <div class="cell" *ngFor="let img of images; let i = index">
      <label class="upload">
        <input type="file" (change)="onFileChange($event, i)" accept="image/*" />
        <ng-container *ngIf="img; else placeholder">
          <img [src]="img" alt="Bild" />
        </ng-container>
        <ng-template #placeholder>
          <div class="placeholder">
            <span>Bild {{ i + 1 }}</span>
          </div>
        </ng-template>
      </label>
    </div>
  </div>
</div>
